@using LinkDevTask.Application.Servcices.Interfaces;
@inject IJobService _jobService

@if (User.IsInRole(UserRoles.Admin))
{
    if (_jobService.GetJobsCount().Equals(0))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Note:</strong> There is no Jobs Found.
        </div>
    }
}
