<h1>DashBoard</h1>
<hr>
<div class="row">
	<a asp-action="GetAllRoles" class="btn btn-success col-5 m-2">Roles</a>
	<a asp-action="GetAllUsers" class="btn btn-primary col-5 m-2">Users</a>
	<a asp-controller="Job" asp-action="getAll" class="btn btn-warning col-5 m-2">Jobs</a>
	<a asp-controller="Category" asp-action="getAll" class="btn btn-secondary col-5 m-2">Categories</a>
</div>
