@model CategoryVM
<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Add Category" class="btn btn-primary" />
    </div>
</form> 
